
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LaundryManagement Application</title>
</head>
<body>
    <div id="container" class = "mt-xl-n5">
        <h3>Registration form</h3>
        <div>
          <select name="select" id="option" #userType (click)="getUser(userType.value)">
            <option value="none">select</option>
            <option value="admin">admin</option>
            <option value="customer">customer</option>
            <option value="employee">employee</option>
          </select>
        </div>
        <form  #userData="ngForm" (ngSubmit)="getData(userData.value)">
             
              <br>
                <p>name</p>
              <input type="text" name="userName" [(ngModel)]="user.userName" />
              <br>
                <p>mobile</p>
              <input type="text" name="mobile" [(ngModel)]="user.mobile" />
              <br>
                <p>password</p>
              <input type="password" name="password" [(ngModel)]="user.password" />
              <br>
                <p>email</p>
              <input type="email" name="email" [(ngModel)]="user.email" />
              <br>
                <p>city</p>
              <input type="text" name="city" [(ngModel)]="address.city" />
              <br>
                <p>state</p>
              <input type="text" name="state" [(ngModel)]="address.state" />
              <br>
                <p>pincode</p>
              <input type="text" name="pincode" [(ngModel)]="address.pincode" />
              <br>
                <p>country</p>
              <input type="text" name="country" [(ngModel)]="address.country" />
              <br>
              <input type="submit" value="submit">
        </form>
         
    </div>
   
</body>
</html>

