
<h3>apply for laundry service</h3>
<form #bookingData = "ngForm" (ngSubmit)="getBooking(bookingData.value)" >
   
      <div class="form-group">
        <label for="exampleFormControlSelect1">service id</label>
        <input name="serviceId" class="form-control" type="number"  [(ngModel)]="serviceId"/>
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1">piece</label>
      <select name="piece" type="number" class="form-control" id="exampleFormControlSelect1" [(ngModel)]="piece" >
        <option>1</option>
        <option>0</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
   
    <div class="form-group">
        <label for="exampleFormControlSelect1">customer id</label>
        <input name="customerId" class="form-control" type="number" [(ngModel)]="customerId" />
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect1">employee id</label>
        <input name="empId" class="form-control" type="number"  [(ngModel)]="empId"/>
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect1">date</label>
        <input name="bookingDate" class="form-control" type="date" [(ngModel)]="bookingDate" />
    </div>
    <input type="submit" value="submit"/>
    
</form>
<!-- <p >{{errMessage}}</p> -->
<br>



