<p>users</p>
<table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">name</th>
        <th scope="col">mobile</th>
        <th scope="col">email</th>
        <th scope="col">city</th>
        <th scope="col">state</th>
        <th scope="col">country</th>
        <th scope="col">pincode</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor ="let user of users" >
        <th scope="row">{{user.userId}}</th>
        <td>{{user.userName}}</td>
        <td>{{user.mobile}}</td>
        <td>{{user.email}}</td>
        <td>{{user.address.city}}</td>
        <td>{{user.address.state}}</td>
        <td>{{user.address.country}}</td>
        <td>{{user.address.pincode}}</td>
    </tr>
      
    </tbody>
  </table>
