<h3>apply for laundry service</h3>
<form #bookingData = "ngForm" (ngSubmit)="getBooking(bookingData.value)" >
    
      <div class="form-group">
        <label for="exampleFormControlSelect1">service id</label>
        <input name="serviceId" class="form-control" type="number"  [(ngModel)]="serviceId"/>
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1">piece</label>
      <select name="piece" type="number" class="form-control" id="exampleFormControlSelect1" [(ngModel)]="piece" >
        <option>1</option>
        <option>0</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
    
    <div class="form-group">
        <label for="exampleFormControlSelect1">customer id</label>
        <input name="customerId" class="form-control" type="number" [(ngModel)]="customerId" />
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect1">employee id</label>
        <input name="empId" class="form-control" type="number"  [(ngModel)]="empId"/>
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect1">date</label>
        <input name="bookingDate" class="form-control" type="date" [(ngModel)]="bookingDate" />
    </div>
    <input type="submit" value="submit"/>
    <button (click)="editService(bookingData.value)">edit</button>
</form>
<!-- <p >{{errMessage}}</p> -->
<br>
<div class="mt-2" style="border: 1px solid green;">
  <p class="text-center">details</p>
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">s.no</th>
        <th scope="col">service id</th>
        <th scope="col">customer id</th>
        <th scope="col">employee id</th>
        <th scope="col">date</th>
        <th scope="col">piece</th>
        <th scope="col">price</th>
        <!-- <th scope="col">edit</th> -->
        <th scope="col">delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor ="let s of serviceData,index as i">
        <th scope="row">{{i}}</th>
        <td>{{s.serviceId}}</td>
        <td>{{s.customerId}}</td>
        <td>{{s.empId}}</td>
        <td>{{s.bookingDate}}</td>
        <td>{{s.piece}}</td>
        <td>{{s.price}}</td>
        <!-- <td>
          <button (click)="editService(s.serviceId,s)">edit</button>
        </td> -->
        <td>
          <button (click)="deleteService(s.serviceId)">del</button>
        </td>
      </tr>
      
      
    </tbody>
  </table>
</div>
